body {
    font-family: iCiel Gotham,sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #666;
    padding: 0;
    background-color: #f5f5f5;
}
a:hover{
    text-decoration: none;
}
.container{
    max-width: 1170px !important;
    /*height: 100px;*/
    /*background-color: red;*/
}
.input-group .form-control::-webkit-input-placeholder{
    color: #cccccc;!important;
    font-family: Roboto, sans-serif;
    font-weight: normal;
}
section{
    background-color: transparent;
  padding-bottom: 40px;
}

/*}*/
/*head */
.header-top{
    padding:   20px 15px 20px 15px;
}
.header-top .input-logo{
    height: 40px;
    border: 1px solid #cccccc;
    padding: 10px;
}
.search-header{

}
.header-top .input-header{
    width: 440px;
}
.hotline-search{
    line-height: 1.3;
}
.hotline-search >p{
    margin: 0;
    font-family: Roboto,sans-serif;
    font-size: 14px;
    color:  #cccccc;
}
.hotline-search >span{
    margin: 0;
    font-family: Roboto,sans-serif;
    font-size: 18px;
    color:#f7941d ;
    font-weight: 700;
}
.header-top .btn-search-header{
    background-color: #603711;
    color: #ffffff;
    padding: 0;
    margin: 0;
    width: 67px;
    height: 100%;
    border: 1px solid #603711;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 16px;
    font-family: Roboto,sans-serif;
}
.header-top .login{
    font-family: iCiel Gotham,sans-serif;
    padding-top:10px;
    padding-bottom:10px;
    font-size: 13px;
    padding-left:30px;
    padding-right:25px;
    /*margin-left: 30px;*/
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    color: #353535;
}
.header-top .login a{
    color: #353535;
    margin-left:10px ;
    text-transform: uppercase;
}
/*end*/

/*!*main-menu*!---------------------------------*/
.main-menu{
    background-color: #ffffff;
    border: 1px solid #cccccc;
    margin-bottom: 8px;
}
.navbar .collapse.navbar-collapse li.nav-item a.nav-link{
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto ,sans-serif;
    color: #585858;
    padding: 13px 0 13px 0;
    position: relative;
}
.navbar .collapse.navbar-collapse ul.navbar-nav>li.active a{
    color: #f7941d;
}
.navbar .collapse.navbar-collapse ul.navbar-nav>li.active a::before{
    content: "";
    display: table;
    border-bottom: 2px solid #f7941d;
    position: absolute;
    width: 100%;
    bottom: -1px;
    left: 0;
}
.navbar .collapse.navbar-collapse ul.navbar-nav li>a:hover::before{
    content: "";
    display: table;
    border-bottom: 2px solid #f7941d;
    position: absolute;
    width: 100%;
    bottom: -1px;
    left: 0;
}
.dropdown-toggle::after{
    border: 0;
}
/*.navbar .collapse.navbar-collapse li a:hover{*/
    /*border-bottom: 2px solid #f7941d;*/
/*}*/
/*end*/

.name-list-product a{
    background-color: #f7941d;
    color: white;
    display: block;
    text-decoration: none;
    font-size: 16px;
    padding: 11px 20px 11px 15px;
    text-transform: uppercase;
    border: 1px solid #f7941d;
    z-index: 9999;
}
.navbar{
    padding: 0;
}
/*end*/

/*!*menu*!----------------------------------------------------*/
#main-main{
    background-color: #f5f5f5;
    padding-bottom: 40px;
}
.list-products{
    width:100%;
    position: relative;
    margin-bottom: 10px;
    margin-top: -8px;
}
.list-products ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    /*background-color: #f1f1f1;*/
    position: relative;
    height: 100%;
    overflow: auto;
    background-color: #ffffff;
}
.list-products li a {
    display: block;
    color: #262626;
    text-decoration: none;
    font-size: 16px;
    padding: 11px 20px 11px 15px;
    /*text-transform: uppercase;*/
    /*border-bottom:1px solid #cccccc;*/
}
.list-products li a.active {

}
.list-products li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
.list-products li a i{
    float: right;
    margin-top: 3px;
    color: #a3a3a3;
}
.border-bottom-products{
    width: 90%;
    height: 1px;
    background-color: #cccccc;
    margin: 0 15px 0 15px;
}
/*.list-products li:first-child .border-bottom-products{*/
    /*background-color: transparent;*/
/*}*/
.photo-pa{
    width: 100%;
    overflow: hidden;
    object-fit: cover

}
.photo-pa>img{
 width: 100%;
    object-fit: cover
}
.sliders img{
    width: 100%;
    max-width:100%;
}
.slick-prev:before{
    background-image: url(../img/icon/o.png);
}
.slick-dots{
    background-color: red;
    bottom: 20px;
    opacity: 0.5;
}
.slick-dots{

}
.slick-dots li.slick-active button:before{
    color: #ffffff;
}
/*end*/

/*products*/
.menu-main-product .navbar .collapse.navbar-collapse li.nav-item a.nav-link{
    margin: 0 20px 0 20px;
}
.menu-main-product .navbar .collapse.navbar-collapse ul.navbar-nav>li.active a::before{
    content: "";
    display: table;
    border-bottom: 2px solid #e9252f;
    position: absolute;
    width: 50px;
    bottom: -2px;
    /*left: 0;*/
    margin-left: 50%;
    left: -25px;
}
.menu-main-product .navbar .collapse.navbar-collapse ul.navbar-nav li>a:hover::before{
    content: "";
    display: table;
    width: 50px;
    border-bottom: 2px solid #e9252f;
    position: absolute;
    /*width: 100%;*/
    bottom: -2px;
    margin-left: 50%;
    left: -25px;
}
.menu-main-product .navbar .collapse.navbar-collapse ul.navbar-nav>li.active a {
    color: #e9252f;
}
.list-main-products .name-list-product a{
    border: 0;
    background-color: transparent;
    color: #e9252f;
}
.menu-product{
    background-color: #ffffff;
    border: 1px solid #cccccc;
    margin-bottom: 30px;
}
.photo-pa.pa-product{
    margin-bottom: 15px;
}
.photo-overlay{
    position: relative;
}
.photo-product{
    position: relative;
}
.photo-product-overlay a{
    background-color: #ffffff;
    /*opacity: 10;*/
    padding: 10px 12px 10px 12px;
    border-radius: 5px;
    margin: 5px;
    color: #f7941d;
}
.photo-product-overlay a:first-child{
    background-color: #ffffff;
    /*opacity: 10;*/
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    margin: 5px;
    color: #f7941d;
}
.form-button{
    top:0;
    display: none;
    position: absolute;
    text-align: center;
    align-items: center!important;
    justify-content: center!important;
    width: 100%;
    height: 100%;
    z-index: 10;
}
/*photo-product-overlay{*/
    /**/
/*}*/
.photo-overlay .background-overlay{
    top:0;
    position: absolute;
    display: none;
    z-index: 3;
    background-color: #805f41;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}
.photo-overlay:hover .background-overlay{
    display: flex;
    height: 100%;
}
.photo-overlay:hover .form-button{
    display: flex;
    height: 100%;
}
.photo-product>img{
    width: 100%;
    max-width: 100%;
}
.product-show{
    margin-bottom: 60px;
}
.product-show .price-item>span{
    font-size: 21px;
}
.product-show .name-item{
    padding: 15px 0 15px 0;
    color: #000000;
}
.btn-img{
    width: 158px;
    height: 43px;
    display: block;
    margin: 0 auto;
    padding: 0;
    line-height: 43px;
    font-family: "iCiel Gotham", sans-serif;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background: url(../img/icon/btn-1.png) top center no-repeat !important;
    border: none !important;
}
/*end*/

/*customer-*/
.total{
    margin-bottom: 20px;
}
.total .list-main-products .name-list-product {
    position: relative;
}
.total .list-main-products .name-list-product a{
    color: #000;
    text-transform: uppercase;
    font-size: 24px;
    padding: 0;
    padding-bottom: 5px;
}
.total .list-main-products .name-list-product a:before{
    content: "";
    display: table;
    border-bottom: 2px solid #f7941d;
    position: absolute;
    width: 65px;
    bottom: -2px;
    margin-left: 50%;
    left: -25px;
}
/*////*/
.feedback-customer{
    padding: 30px 30px 10px 30px;
    margin-top: 50px;
    background-color: #ffffff;
    margin-bottom: 50px;
}
.center-block{
display: block;
margin-right: auto;
margin-left: auto;
}
.photo-customer-1{
    height: 85px;
    width: 85px;
    overflow: hidden;
    border-radius: 100%;
    border: 2px solid #ffffff;
}
.photo-customer-1>img{
    width: 100%;
    max-width: 100%;

}
.name-customer{
    padding: 20px 0 20px 0;
    border-bottom: 2px solid #cccccc;
}
.name-customer>p{
    margin: 0;
    color: #000000;
    font-weight:700;
}
.name-customer>p:last-child{
    color: #a3a3a3;
    font-weight: 400;
}
.feedback-info .question a{
    color: #000000;
    display: inline-block;
    font-weight: 500;
}
.feedback-info .answer{
    color: #757575;
}
.feedback-info .answer span{
    color: #f7941d;
    font-weight: 500;
}
.feedback-info .answer-more a{
    font-size: 25px;
    color: #cccccc;
}
.photo-customer{
    margin-top: -75px;
}
/*end*/

/*service*/
.service-iteam{
    width: 22%;
    margin: 70px 40px 70px 40px;
    text-align: center;
    color: #ffffff;
}
.info-service{
    margin-top: 20px;
}
.info-service p{
    margin: 10px 10px 10px 10px;
}
.info-service p:last-child{
    color: #cccccc;
    font-weight: normal;
    font-family: Roboto,sans-serif;
  font-size: 14px;
}
/*end*/

/*email*/
.main-email .status-mail{
    font-weight: normal;
    font-size: 16px;
    font-family: Roboto,sans-serif;
}
.main-email .status-mail>p{
    line-height: 1.55;
}
.input-email .input-of-email{
    height: 50px;
    border: 1px solid #e5e5e5;
    border-radius: 5px!important;
}
.input-email .btn-email{
    text-transform: uppercase;
    padding: 12px 30px 12px 30px;
    margin-left: 15px;
    color: #ffffff;
    background-color: #f7941d;
    border: 1px solid #f7941d;
}
/*end*/

/*footer*/
.main-footer{
    padding: 45px 0 45px 0;
    font-size: 14px;
    background-color: #e38616;
    color: #ffffff;
    font-weight: normal;
    /*font-family: Roboto sans-serif;*/
    font-family: 'Roboto',sans-serif;
}
.main-footer li a{
    color: #ffffff;
    line-height: 1.97;
    font-size: 16px;
    font-weight: 400;
}
.main-footer p{
    margin: 5px;
}
.main-footer h5{
    font-size:16px;
}
.copy{
    padding: 35px;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
}
/*end*/

/*about*/
.menu-all .color-menu{
    background-color: #f7941d;
}
.menu-all .navbar .collapse.navbar-collapse li.nav-item a.nav-link{
    color: #ffffff;
}
.menu-all .navbar .collapse.navbar-collapse ul.navbar-nav>li.active a{
    color: #ffffff;
}
.menu-all .navbar .collapse.navbar-collapse ul.navbar-nav>li.active a::before{
    border-bottom: 2px solid #ffffff;
}
.menu-all .navbar .collapse.navbar-collapse ul.navbar-nav li>a:hover::before{
    border-bottom: 2px solid #ffffff;
}
.fix-all{
    padding: 0!important;
    margin: 0;
}
/*end*/

/*bandnder*/
.bandner{
    position: relative;
}
.bandner-wellcome{
    position: relative;
    overflow: hidden;
    height: 180px;
    object-fit: scale-down;
}
.bandner-wellcome>img{
    width: auto;
    height: 180px;
    /*object-fit: scale-down;*/
}
.bandner .page-title h2 {
    width: 100%;
    font-size: 48px;
    color: #fff;
    letter-spacing: 5px;
}
.bandner .page-title{
    position: absolute;
    left: 0;
    top: 54px;
    width: 100%;
}
/*about*/
.menu-about ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;*/
}
.menu-about li {
    float: left;
}

.menu-about li a {
    display: block;
    color: #cccccc;
    text-align: center;
    padding: 0;
    text-decoration: none;
    font-family: Roboto , sans-serif;
    font-weight: normal;
}
.status-about{
    width: 81.5789%;
    font-family: Roboto , sans-serif;
    font-weight: normal;
    margin:auto;
    margin-bottom:50px ;
}
.status-about p{
    margin: 0;
    color: #000000;
}
.breadcrumb{
    background-color: transparent;
}
.breadcrumb>li+li a:before
{
    content: "/";
    color: #cccccc;
    padding: 0 10px;
}

/*/ product*/
.menu-product{
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 14px;
}
.card{
    border: 0;
}
.card-header{
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    background-color: #ffffff;
}
.card-header .mb-0 button::after{
    content: "";
    background-image: url(../img/icon/down.png);
    right: 0;
    margin-top: 8px;
    /*margin-left: 80px;*/
    padding: 4px 6px 4px 6px;
    float: right;
}
/*f7941d*/
.product-all .menu-product .card-header h5 button{
    font-weight: 700;
    color: #f9ad63;
    padding: 0;
    text-decoration: none;
    width: 100%;
    text-align: left;
}
.product-all .menu-product{
    border: 1px solid #e5e5e5;
}
.menu-product .list-group-item{
    border: 0;
    margin-left: 10px;
    background-color: #F4F4F4;
}
.menu-product .list-group{
    background-color: #F4F4F4;
    border-bottom: 1px solid #e5e5e5;;
}
.menu-product .list-group-item a{
   color: #000000;
}
.menu-product .list-group-item a:hover, a:focus ,a:active{
    color: #f9ad63;
}
/*///*/
.intro-product{
    font-family: Roboto, sans-serif;
    color: #000;
}
.intro-product p:first-child{
    font-weight: 500;
    font-size: 18px;
}
.intro-product p:last-child{
    font-weight: 300;
    font-size: 14px;
    color: #c2c2c2;
}
.option-product{
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 14px;
}
.well {
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: none;
    /*margin-bottom: 15px;*/
    min-height: 20px;
    padding: 15px 0 15px 0;
}
.price-range {
   margin: 30px 0 30px 0;
    background-color: #ffffff;
    padding: 15px 0 15px 0;

}
.tooltip.top .tooltip-arrow {
    border-top-color: #FE980F;
    border-width: 5px 5px 0;
    bottom: 0;
    left: 50%;
    margin-left: -5px;
}
.tooltip-inner {
    background-color: #FE980F;
    border-radius: 4px;
    color: #FFFFFF;
    max-width: 200px;
    padding: 3px 8px;
    text-align: center;
    text-decoration: none;
}
.price-to .form-group{
    padding: 15px;
}
.price-to .form-group .form-control{
    width: 140px;
    float: right;
}
/*end price*/

/*pagination in category*/
.pagination-wrap{
    border-top: 1px solid #cccccc;
}
.pagination {
    /*margin-top: 0;*/
    padding: 15px 0 0 0;
    /*margin-bottom: 0;*/
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0 auto 0 auto;
    display: inline-block;
}
.pagination >li{
    display: inline;
}
.pagination li:first-child a, .pagination li:first-child span {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: 0;
}
.pagination li a, .pagination li span {
    background-color: transparent;
    border: 0;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
    margin-right: 5px;
    color: #000;
}
.pagination .active a, .pagination .active span, .pagination .active a:hover, .pagination .active span:hover, .pagination .active a:focus, .pagination .active span:focus {
    /*background-color: #ffffff;*/
    /*border-color: #edd001;*/
    color: #FE980F;
    cursor: default;
    z-index: 2;
    border-radius: 3px;
}
.pagination li a:hover {
    /*background: #FE980F;*/
    color: #FE980F;
}
.pagination li:first-child a{
    color: #c6c6c6;
}
.pagination li a {
    color:#000;
}
/*pagination end*/

/*brand*/
.form-brand{
    margin-top: -270px;

}
.form-brand .container{
    /*color: #f5f5f5;*/
    padding: 30px;
    max-width: 1200px!important;
    background-color: #f5f5f5;
    z-index: -1;
}
/*swap customer*/
.form-swap{
    font-family: 'Roboto', sans-serif;
}
.form-swap p>i{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}
.swap-item{
    background-color: #ffffff;
    padding: 25px 25px 25px 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-bottom: 25px;
}
.name-customer-swap{
    border: 0;
    margin: 0;
}
.photo-customer-2{
    margin: 0;
}
.swap-item .feedback-info{
    position: relative;
}
.view-swap{
    position: absolute;
    right: 0;
    bottom: 0;
}
.view-swap a{
    color: #f7941d;
}
.input-form-swap>label{
    color: #757575;
    text-align: center;
}
.input-form-swap{
    text-align: center;
}
.input-form-swap>input,.input-form-swap>textarea{
    border: 1px solid #e5e5e5;
    margin: 10px 0 10px 0;
}
.input-form-swap>textarea{
    height: 150px;
}
.btn-swap{
    padding: 8px 65px 8px 65px;
    text-transform: uppercase;
    background-color: #f7941d;
    color: #fff;
    border: 0;
    margin: 10px auto 10px auto;
}
/*end*/

/*news*/
.list-news{
    width:100%;
    position: relative;
    margin-bottom: 50px;
    margin-top: -8px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.list-news ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    /*background-color: #f1f1f1;*/
    position: relative;
    height: 100%;
    overflow: auto;
    background-color: #ffffff;
}
.list-news li{
    border-bottom:1px solid #d9d9d9 ;
    padding: 10px 0 10px 0;
}
.list-news li:first-child a{
    border-left:2px solid #f7941d ;
    color: #f7941d;
}
.list-news li a {
    display: block;
    color: #262626;
    text-decoration: none;
    font-size: 16px;
    padding: 0 20px 0 15px;
    border-left:2px solid #d9d9d9 ;
}
.list-news li a:hover:not(.active) {
    /*background-color: #555;*/
    color: #f7941d;
}
.list-news li a i{
    float: right;
    margin-top: 3px;
    color: #a3a3a3;
}
/*//*/
.title-near-news{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    border-bottom: 1px solid #f7941d;

}
.title-near-news label{
    background-color: #f7941d;
    padding: 4px 10px 4px 10px;
    margin: 0;
}
.item-near-news {
    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-weight: 500;
    /*margin-top: 10px;*/
    margin-bottom: 25px;
    padding-top: 15px;
    border-top: 1px solid #a3a3a3;
}
.item-near-news img{
    float: left;
    margin-right: 10px;

}
.item-near-news p{
    margin: 0;
    color: #000000;
}
/*---*/
.item-news{
    margin-bottom: 30px;
}
.content-news{
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: normal;
}
.content-news .title-news-item label{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
}
.content-news .title-news-item p{
    font-weight: 300;
    color: #a3a3a3;
}
.content-news .title-news-item p span{
    color: #f7941d;
    border-left: 1px solid #a3a3a3;
    padding-left: 10px;
    margin-left: 10px;
}
.view-news{
    bottom: 0;
}
.view-news a{
    font-weight: 500;
    color: #000000;

}
.view-news a i{
    background-color: #f7941d;
    color: #ffffff;
    padding: 2px 8px 2px 8px;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
   margin: 0 10px 0 0;
}
/*end*/

/*contact*/
.main-contact{
    background-color: #f5f5f5;
}
.info-gps .title-company label{
    padding: 15px 15px 15px 0;
    text-transform: uppercase;
}
.info-gps .title-company>label::after{
    content: "";
    bottom:0;
    display: block;
    width: 60px;
    padding-bottom: 15px;
    border-bottom: 2px solid #f7941d;
}
.info-gps-company{
    font-size: 14px;
    font-weight: 400;
    font-family: Roboto, sans-serif;
}
.info-gps-company p{
    margin: 0;
}
.info-gps-company p:first-child{
    font-weight: 600;
}
.info-gps-company p i{
    padding-right: 20px;
}
/*----*/
#contact-us-map{
    height: 200px;
    margin: 30px 0 30px 0;
}
.input-form-contact{
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: normal;
}
.input-form-contact .form-group>input,.form-group>textarea{
    height: 45px;
    border: 0;

}
.input-form-contact .form-group>input::-webkit-input-placeholder,.form-group>textarea::-webkit-input-placeholder{
    color: #cacaca;
}
.input-form-contact .btn-contact{
    width: 100%;
    background-color: #f7941d;
    color: #ffffff;
    border: 1px solid transparent;
    padding: 10px 0 10px 0;
    font-weight: 700;
    text-transform: uppercase;
}
.local-menu{
    padding: 0;
}
/*product-detail*/
.carousel-indicators{
    margin: 30px 0 0 0;
    position: relative;
}
.carousel-indicators li{
    width: 31%;
    height: 100%;
}
.info-product .title-product label{
    font-size: 24px;
    text-transform: none;
}
.info-product .title-product p{
    font-size: 16px;
    color: #9c9c9c;
}
.info-product .title-product p span{
    font-size: 16px;
    font-weight: 300;
}
.title-product::after{
    content: "";
    width: 60px;
    border-bottom: 2px solid #f7941d;
    display: block;
}
.content-product li{
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 14px;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #dcdcdc;
}
.content-product ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.content-product ol li+li {
    /*text-align: center;*/
}
.content-product ol li+li>p{
    margin-left: 200px;
    margin-bottom: 0    ;
}
.content-product ol li span{
    font-weight: 700;
    float: left;
}
.content-product ol li img{
    margin-right: 10px;
}
.price-product{
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 14px;
    padding: 15px 0 15px 0;
}
.price-product p{
    margin: 0;
}
.price-product .sale{
    color: red;
}
.price-product .sale-100{
    background-color: red;
    color: #ffffff;
    padding: 0 5px 0 5px;
    margin-left: 5px;
}
.price-product b{
    font-size: 26px;
    color: #f7941d;
}
.add-quatity input{
    width: 75px;
    text-align: center;
    float: left;
    border-radius: 0;
    margin-right: 10px;
    height: 45px;
}
.add-quatity .btn-add-cart{
    font-family: Roboto, sans-serif;
    padding: 10px 30px 10px 30px;
    border: none;
    border-radius: 0;
    background-color: #f7941d;
    font-weight: 400;
}
.description-product{
    background-color: #ffffff;
    padding: 25px;
    margin-bottom: 30px;
}
.description-product p{
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}
.description-product span{
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}
.product-other label{
    font-size: 18px;
    padding: 10px 0 10px 0;
    margin: 0;
}
.product-other{
    border-bottom: 1px solid #cccccc;
    margin-bottom:30px;
}
.comment-product{
    background-color: #ffffff;
    padding: 15px;
}
.comment-product textarea{
    margin-bottom: 15px;
}
.photo-customer-1.photo-customer-3{
    height: 40px;
    width: 40px;
    display: inline-block;
    float: left;
    margin: 20px;
}
.comment-small-item{
    margin-top: 20px;
    border-top: 1px solid #cccccc;
}
.date-comment {
    font-weight: normal;
    color: #cccccc;
    font-size: 14px;
}
.comment-wrap{
    border-bottom: 2px solid #e5e5e5;
}
.photo-customer-1.photo-customer-5{
    width: 60px;
    height: 60px;
    margin: 0 0 20px 20px;
}
.wrap-from{
    width: 100%;
    height: 100%;
    padding: 25px 0 10px 25px;
}
.wrap-from .form-group textarea{
    width: 100%;
    height: 100px;
    border: 1px solid #e5e5e5;
}
.form-comment-wrap{
    border-bottom: 1px solid #e5e5e5;
}
.reply-comment{
    font-size: 16px;
    padding-top: 20px;
}
.reply-comment b{
    color: #000;
}
.reply-comment .b-customer{
    color: #f7941d!important;
}
.content-news-item img{
    width: 100%;
}
.news-other{
    margin-top: 100px;
}
.name-news-other{
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 14px;
}
.title-news-other{
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 20px;
}
.name-news-other ol{
    margin: 0;
    padding: 0;
}
.name-news-other ol li{
    list-style-type: none;
    line-height: 1.8;
}
.name-news-other ol li i{
    margin-right: 10px;
    color: #f7941d;
    font-size: 16px;
    font-weight: 700;
}
.name-news-other ol li a{
    color: #737373;
}
/*cart*/
.product-cart{
    background-color: #fff;
    padding: 10px;
    position: relative;
    margin-bottom: 30px;
}
.name-product label{
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 500;
}
.name-product p{
    font-size: 16px;
    color: #a3a3a3;
}
.name-product p span{
    font-weight: 300;
}
.price-product.price-cart p{
    font-size: 12px;
}
.price-product.price-cart b{
    font-size: 22px;
}
.remove-iteam-cart{
    position: absolute;
    top:20px;
    right: 20px;
}
.add-item-quantity input{
    height: 100%;
    width: 45px;
    display: inline-block;
    float: left;
    border-left:0 ;
    border-right:0 ;
    border-top: 1px solid #a0a0a0;
    border-bottom: 1px solid #a0a0a0;
    text-align: center;
}
.add-item-quantity{
    height: 30px;
}
.add-item-quantity a{
    width: 30px;
    background-color: #ffffff;
    border: 1px solid #a0a0a0;
    height: 30px;
    display: inline-block;
    float: left;
    text-align: center;
}
.add-item-quantity a i{
    margin-top: 8px;
}
.title-info-donhang{
    background-color: #603711;
}
.title-info-donhang p{
    padding: 6px;
    color: #fff;
    text-align: center;
    font-size: 16px;
}
.info-donhang{
    font-family: Roboto, sans-serif;
    font-weight: normal;
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 20px;
}
.info-donhang p{

    font-size: 16px;
    color: #8a8a8a;
}
.info-donhang p span{
    float: right;
    font-size: 18px;
    font-weight:600;
    color: #000;
}
.info-donhang input{
    width: 63%;
    border-top-right-radius:0 ;
    border-bottom-right-radius:0 ;
}
.info-donhang button{
    width: 37%;
    background-color: #f7941d;
    color: #fff;
    border-top-left-radius:0 ;
    border-bottom-left-radius:0 ;
}
.price-product.pay{
    text-align: center!important;
    border-top:1px solid #dcdcdc;
}
.price-product.pay p{
    color: #8a8a8a;
}
.price-product.pay a{
    width: 100%;
    background-color: #f7941d;
    color: #fff;
    border: 0;
    margin-top: 10px;
}
.price-product.pay a i{
    margin-right: 10px;
}
.btn-comeback-buy{
    background-color: #ffffff;
    /*border: 0;*/
    padding: 5px;
    border: 1px solid #e5e5e5;
    color: #000;
}
.btn-comeback-buy i{
    margin-right: 10px;
}
.buy-item i{
    margin: 0 10px 0 10px;
}
.buy-item li a{
    color: #000000;
    text-transform: uppercase;
}
.buy-item li.active a{
    color: #CBCBCB;
}
.form-login-buy{
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: normal;
    background-color: #ffffff;
    padding: 15px 30px 15px 30px;
}
.login-buy{
    width: 55%;
    margin: auto;
    margin-top: 40px;
    height: 100%;
}
.login-buy .form-group button{
    width: 100%;
    color: #fff;
    background-color: #f7941d;
}
.login-buy .form-group label{
    margin-left: 10px;
    font-weight: 600;
}
.login-buy .form-group a{
    padding: 10px 0 10px 0;
    color: #cacaca;
}
.login-buy .form-group .forget{
    margin-right: 0;
}
.login-buy .form-group p.text-center{
    position: relative;
    z-index: 99;
}
.login-buy .form-group p.text-center:before{
    content: " ";
    position: absolute;
    background: #fff;
    width: 130px;
    height: 30px;
    z-index: -1;
    left: 50%;
    margin-left: -65px;
}
.login-buy .form-group p.text-center:after{
    content: " ";
    position: absolute;
    border: 1px solid #f5f5f5;
    bottom: 8px;
    left: 0;
    width: 100%;
    height: 0;
    z-index: -2;
}

.login-buy .form-group .facebook{
    background-color: #0066ba;
    padding: 10px 30px 10px 30px;
    font-weight: 600;
    color: #ffffff;
    border-radius: 3px;
    display: inline-block;
}
.login-buy .form-group .google-plus{
    background-color: #ed1c24;
    padding: 10px 30px 10px 30px;
    font-weight: 600;
    color: #ffffff;
    border-radius: 3px;
    display: inline-block;
    float: right;
}
.login-buy .form-group a i{
    margin-right: 10px;
}
.info-total{
    background-color: #ffffff;
    padding: 10px 20px 10px 20px;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 14px;
}
.info-name-item{
    width: 60%;
}
.info-total th{
    color: #000000;
}
.info-total p .quantity-item{
    color: #000;
}
.info-total td p{
    color: #f7941d;
}
.info-total tr td:last-child{
    color: #000;
    font-weight: 700;
    font-size: 16px;
}
.info-price{
    width: 40%;
    text-align: right;
}
